<h3>Hi, <%= @user.name %>, welcome to your YELPPY app </h3>

<h3>List Of Restaurants:</h3>
<% @restaurants.each do |r|%>
<%= link_to r.name, restaurant_path(r)%><br>
<%end%>

<%= link_to " Go Back",  user_path(@user)%> <br>
